@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

@font-face {
  font-family: peyda;
  src: url("/fonts/Peyda-Regular.ttf");
}

body {
  font-family: "peyda";
}
.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
  color: gray;
  font-size: 24px;
  font-weight: bolder;
}
.mySwiper .swiper {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
